.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b0c4de;
    position: relative;
}

.text {
    text-align: center;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px; /* Add space between the links */
}

.nav-links li {
    font-size: 1.2em;
}

.credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
