.login {
  width: 110%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.actions {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}